@import "/src/common/styles/typography.scss";

$color-risk-very-low: #00993e;
$color-risk-low: #2caf03;
$color-risk-medium: #abaf03;
$color-risk-high: #af3c03;
$color-risk-very-high: #af0303;

#cdq-browser-toolkit {
  #cdq-browser-toolkit-panel {
    width: 20rem;
    height: 12rem;
    position: fixed;
    overflow: hidden;
    background-color: var(--cdq-browser-toolkit-main-bg);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    z-index: 2147483646;

    transition-property: opacity, visibility;
    transition-duration: 200ms;
    opacity: 0;
    visibility: hidden;

    &.isShown {
      opacity: 1;
      visibility: visible;
    }

    &.isLoading {
      background: white center center no-repeat;
      background-size: 2.5rem 2.5rem;
    }

    #cdq-browser-toolkit-panel-wrapper {
      padding-bottom: 1rem;

      & > div > div {
        margin: 0.5rem 1rem;
      }

      .risk-classification-VERY_LOW_RISK {
        color: $color-risk-very-low;
      }

      .risk-classification-LOW_RISK {
        color: $color-risk-low;
      }

      .risk-classification-MEDIUM_RISK {
        color: $color-risk-medium;
      }

      .risk-classification-HIGH_RISK {
        color: $color-risk-high;
      }

      .risk-classification-VERY_HIGH_RISK {
        color: $color-risk-very-high;
      }

      .risk-marked-no {
        color: $color-risk-very-low;
      }

      .risk-marked-yes {
        color: $color-risk-very-high;
      }
    }

  }
}
