$font-family: "Segoe UI", "San Francisco", "Ubuntu", "Fira Sans", "Roboto", "Arial", "Helvetica", sans-serif;

@mixin font-family($important: false) {
  @if $important {
    font-family: $font-family !important;
  } @else {
    font-family: $font-family;
  }
}

@mixin font-main-text() {
  font-weight: 400;
  font-size: 1rem;
  color: var(--cdq-browser-toolkit-main-text);
}

@mixin font-sub-text() {
  font-weight: 400;
  font-size: 0.85rem;
  color: var(--cdq-browser-toolkit-sub-text);
}

@mixin font-section-title() {
  font-weight: 300;
  font-size: 1rem;
  color: var(--cdq-browser-toolkit-sub-text);
}

@mixin font-textarea() {
  font-weight: 400;
  font-size: 0.85rem;
  color: var(--cdq-browser-toolkit-main-text);
}

@mixin font-h1() {
  font-weight: 300;
  font-size: 2rem;
  color: var(--cdq-browser-toolkit-sub-text);
  line-height: 2;
}

@mixin font-h2() {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--cdq-browser-toolkit-sub-text);
  line-height: 2;
}
