@import "/src/common/styles/typography.scss";

.category-container {
  list-style-type: none;

  .category-title {
    @include font-section-title();
    margin: 0;
  }

  .category-elements {
    padding-inline-start: 1rem;
    margin-bottom: 1.5rem;
  }
}
