@import "/src/common/styles/typography.scss";

.side-bar {
  position: fixed;
  @include font-main-text();
  text-align: end;
  -moz-user-select: none;
  -webkit-user-select: none;
  flex-shrink: 0;

  .title-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 9rem;

    .logo {
      height: 64px;
      width: 64px;
      margin-inline-end: 5px;
    }
    
    .logo-caption {
      @include font-sub-text();
      text-align: start;
      margin: auto;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    .side-bar-item {
      list-style-type: none;
      padding: 0.8rem 1rem;

      :hover {
        text-decoration-line: underline;
        color: var(--cdq-browser-toolkit-highlight);
      }

      a {
        color: var(--cdq-browser-toolkit-sub-text);
        text-decoration-line: none;
      }

      &.selected a {
        color: var(--cdq-browser-toolkit-highlight);
      }
    }
  }
}
